





/*
*{
	margin: 0;
}

body{
	width: 600px;
	margin: 30px auto;
}

.block1{
	width: 200px;
	height: 200px;
	background: orange;
	padding: 5px;
	margin: 10px;
}

.block2{
	width: 350px;
	height: 180px;
	background: chocolate;
	padding: 5px;
	margin: 10px;
}



*/